
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
    }

.topnav {
    overflow: hidden;
    background-color: white;
    }

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

.column{
    float: left;
    width: 50%;
      
      

}

#picture1{
    grid-column: 2/5;
    grid-row: 1-2;
}

#picture2{
    float: right;
    width: 500px;
    padding: 20px;
}

.picture3{
    float: left;
    width: 500px;
    padding: 20px;
}

body {
    background-color: white;
}

footer{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}